# <font color = 'orange'> 1. Introduction </font>

### üìå1.1 Importer les libraries

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#from datetime import datetime
#from datetime import date

### üìå1.2 Importer les DataFrame

In [2]:
pop = pd.read_csv('population de chaque pays(2017 et 2012).csv')
alim = pd.read_csv('disponibilit√©s alimentaires.csv')
alim_anim = pd.read_csv('disponibilit√©s alimentaires(origin animal).csv')

# <font color = 'orange'> 2. Aper√ßu </font>

### üìå2.1 Population

In [3]:
pop.head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole,Note
0,OA,S√©ries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2012,2012,1000 personnes,31161.376,X,Sources internationales s√ªres,NaN
1,OA,S√©ries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,X,Sources internationales s√ªres,NaN
2,OA,S√©ries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2012,2012,1000 personnes,52832.658,X,Sources internationales s√ªres,NaN
3,OA,S√©ries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,X,Sources internationales s√ªres,NaN
4,OA,S√©ries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2012,2012,1000 personnes,2914.096,X,Sources internationales s√ªres,NaN

In [4]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            474 non-null    object
 1   Domaine                 474 non-null    object
 2   Code zone (FAO)         474 non-null    int64
 3   Zone                    474 non-null    object
 4   Code √âl√©ment            474 non-null    int64
 5   √âl√©ment                 474 non-null    object
 6   Code Produit            474 non-null    int64
 7   Produit                 474 non-null    object
 8   Code ann√©e              474 non-null    int64
 9   Ann√©e                   474 non-null    int64
 10  Unit√©                   474 non-null    object
 11  Valeur                  474 non-null    float64
 12  Symbole                 474 non-null    object
 13  Description du Symbole  474 non-null    object
 14  Note                    4 non-null      object
dtypes: float64(1), int64(5), object(9)
memory usage: 55.7+ KB

In [5]:
pop.describe(include='object')

,Code Domaine,Domaine,Zone,√âl√©ment,Produit,Unit√©,Symbole,Description du Symbole,Note
count,474,474,474,474,474,474,474,474,4
unique,1,1,237,1,1,1,2,2,1
top,OA,S√©ries temporelles annuelles,Afghanistan,Population totale,Population-Estimations,1000 personnes,X,Sources internationales s√ªres,"UNDESA, Population Division ‚Äì World Population..."
freq,474,474,2,474,474,474,470,470,4

In [6]:
pop['Symbole'].unique()

array(['X', 'A'], dtype=object)

In [7]:
pop[pop['Symbole'] == 'A']

,Code Domaine,Domaine,Code zone (FAO),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole,Note
18,OA,S√©ries temporelles annuelles,151,Antilles n√©erlandaises (ex),511,Population totale,3010,Population-Estimations,2012,2012,1000 personnes,260.348,A,"Agr√©gat, peut inclure des donn√©es officielles,...",NaN
19,OA,S√©ries temporelles annuelles,151,Antilles n√©erlandaises (ex),511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,275.186,A,"Agr√©gat, peut inclure des donn√©es officielles,...",NaN
82,OA,S√©ries temporelles annuelles,351,Chine,511,Population totale,3010,Population-Estimations,2012,2012,1000 personnes,1415164.184,A,"Agr√©gat, peut inclure des donn√©es officielles,...",NaN
83,OA,S√©ries temporelles annuelles,351,Chine,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,1452625.244,A,"Agr√©gat, peut inclure des donn√©es officielles,...",NaN

In [8]:
pop.isnull().sum()

Code Domaine                0
Domaine                     0
Code zone (FAO)             0
Zone                        0
Code √âl√©ment                0
√âl√©ment                     0
Code Produit                0
Produit                     0
Code ann√©e                  0
Ann√©e                       0
Unit√©                       0
Valeur                      0
Symbole                     0
Description du Symbole      0
Note                      470
dtype: int64

In [9]:
pop['Note'].value_counts()

UNDESA, Population Division ‚Äì World Population Prospects, the 2017 Revision    4
Name: Note, dtype: int64

In [10]:
pop[pop['Note'] == 'UNDESA, Population Division ‚Äì World Population Prospects, the 2017 Revision']

,Code Domaine,Domaine,Code zone (FAO),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole,Note
158,OA,S√©ries temporelles annuelles,85,Groenland,511,Population totale,3010,Population-Estimations,2012,2012,1000 personnes,56.470,X,Sources internationales s√ªres,"UNDESA, Population Division ‚Äì World Population..."
392,OA,S√©ries temporelles annuelles,94,Saint-Si√®ge,511,Population totale,3010,Population-Estimations,2012,2012,1000 personnes,0.804,X,Sources internationales s√ªres,"UNDESA, Population Division ‚Äì World Population..."
444,OA,S√©ries temporelles annuelles,218,Tok√©laou,511,Population totale,3010,Population-Estimations,2012,2012,1000 personnes,1.167,X,Sources internationales s√ªres,"UNDESA, Population Division ‚Äì World Population..."
445,OA,S√©ries temporelles annuelles,218,Tok√©laou,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,1.300,X,Sources internationales s√ªres,"UNDESA, Population Division ‚Äì World Population..."

In [11]:
pop.Zone.unique().shape

(237,)

In [12]:
#pop[pop['Note'] == 'UNDESA, Population Division ‚Äì World Population Prospects, the 2017 Revision']

### üìå2.2 Alimentaire

In [13]:
alim.head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5511,Production,2511,Bl√© et produits,2017,2017,Milliers de tonnes,4281.0,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
1,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5611,Importations - Quantit√©,2511,Bl√© et produits,2017,2017,Milliers de tonnes,3080.0,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
2,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5911,Exportations - Quantit√©,2511,Bl√© et produits,2017,2017,Milliers de tonnes,2.0,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
3,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5301,Disponibilit√© int√©rieure,2511,Bl√© et produits,2017,2017,Milliers de tonnes,7326.0,S,Donn√©es standardis√©es
4,FBS,Bilans Alimentaires (2014-),2,Afghanistan,664,Disponibilit√© alimentaire (Kcal/personne/jour),2511,Bl√© et produits,2017,2017,Kcal/personne/jour,1358.0,Fc,Donn√©e calcul√©e

In [14]:
alim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84938 entries, 0 to 84937
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            84938 non-null  object
 1   Domaine                 84938 non-null  object
 2   Code zone (FAO)         84938 non-null  int64
 3   Zone                    84938 non-null  object
 4   Code √âl√©ment            84938 non-null  int64
 5   √âl√©ment                 84938 non-null  object
 6   Code Produit            84938 non-null  int64
 7   Produit                 84938 non-null  object
 8   Code ann√©e              84938 non-null  int64
 9   Ann√©e                   84938 non-null  int64
 10  Unit√©                   84938 non-null  object
 11  Valeur                  84938 non-null  float64
 12  Symbole                 84938 non-null  object
 13  Description du Symbole  84938 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 9.1+ MB

In [15]:
alim.nunique()

Code Domaine                 1
Domaine                      1
Code zone (FAO)            176
Zone                       176
Code √âl√©ment                 6
√âl√©ment                      6
Code Produit                98
Produit                     98
Code ann√©e                   1
Ann√©e                        1
Unit√©                        3
Valeur                    5882
Symbole                      4
Description du Symbole       4
dtype: int64

In [16]:
alim.Unit√©.unique()

array(['Milliers de tonnes', 'Kcal/personne/jour', 'g/personne/jour'],
      dtype=object)

In [17]:
alim.Symbole.unique()

array(['Im', 'S', 'Fc', 'A'], dtype=object)

In [18]:
alim["Description du Symbole"].unique()

array(["Donn√©es de la FAO bas√©es sur une m√©thodologie d'imputation",
       'Donn√©es standardis√©es', 'Donn√©e calcul√©e',
       'Agr√©gat, peut inclure des donn√©es officielles, semi-officielles, estim√©es ou calcul√©es'],
      dtype=object)

In [19]:
alim[alim["Symbole"] == 'Im'].head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5511,Production,2511,Bl√© et produits,2017,2017,Milliers de tonnes,4281.0,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
1,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5611,Importations - Quantit√©,2511,Bl√© et produits,2017,2017,Milliers de tonnes,3080.0,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
2,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5911,Exportations - Quantit√©,2511,Bl√© et produits,2017,2017,Milliers de tonnes,2.0,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
6,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5511,Production,2807,Riz et produits,2017,2017,Milliers de tonnes,338.0,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
7,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5611,Importations - Quantit√©,2807,Riz et produits,2017,2017,Milliers de tonnes,495.0,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...

In [20]:
alim[alim["Symbole"] == 'S'].head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole
3,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5301,Disponibilit√© int√©rieure,2511,Bl√© et produits,2017,2017,Milliers de tonnes,7326.0,S,Donn√©es standardis√©es
9,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5301,Disponibilit√© int√©rieure,2807,Riz et produits,2017,2017,Milliers de tonnes,681.0,S,Donn√©es standardis√©es
15,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5301,Disponibilit√© int√©rieure,2513,Orge et produits,2017,2017,Milliers de tonnes,140.0,S,Donn√©es standardis√©es
21,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5301,Disponibilit√© int√©rieure,2514,Ma√Øs et produits,2017,2017,Milliers de tonnes,213.0,S,Donn√©es standardis√©es
27,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5301,Disponibilit√© int√©rieure,2515,Seigle et produits,2017,2017,Milliers de tonnes,0.0,S,Donn√©es standardis√©es

In [21]:
alim[alim["Symbole"] == 'Fc'].head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole
4,FBS,Bilans Alimentaires (2014-),2,Afghanistan,664,Disponibilit√© alimentaire (Kcal/personne/jour),2511,Bl√© et produits,2017,2017,Kcal/personne/jour,1358.00,Fc,Donn√©e calcul√©e
5,FBS,Bilans Alimentaires (2014-),2,Afghanistan,674,Disponibilit√© de prot√©ines en quantit√© (g/pers...,2511,Bl√© et produits,2017,2017,g/personne/jour,36.53,Fc,Donn√©e calcul√©e
10,FBS,Bilans Alimentaires (2014-),2,Afghanistan,664,Disponibilit√© alimentaire (Kcal/personne/jour),2807,Riz et produits,2017,2017,Kcal/personne/jour,123.00,Fc,Donn√©e calcul√©e
11,FBS,Bilans Alimentaires (2014-),2,Afghanistan,674,Disponibilit√© de prot√©ines en quantit√© (g/pers...,2807,Riz et produits,2017,2017,g/personne/jour,2.38,Fc,Donn√©e calcul√©e
16,FBS,Bilans Alimentaires (2014-),2,Afghanistan,664,Disponibilit√© alimentaire (Kcal/personne/jour),2513,Orge et produits,2017,2017,Kcal/personne/jour,12.00,Fc,Donn√©e calcul√©e

### üìå2.3 Alimentaire(origine animale)

In [22]:
alim_anim.head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2014-),2,Afghanistan,664,Disponibilit√© alimentaire (Kcal/personne/jour),2941,Produits Animaux,2017,2017,Kcal/personne/jour,195.00,Fc,Donn√©e calcul√©e
1,FBS,Bilans Alimentaires (2014-),2,Afghanistan,674,Disponibilit√© de prot√©ines en quantit√© (g/pers...,2941,Produits Animaux,2017,2017,g/personne/jour,11.14,Fc,Donn√©e calcul√©e
2,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5511,Production,2731,Viande de Bovins,2017,2017,Milliers de tonnes,128.00,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
3,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5611,Importations - Quantit√©,2731,Viande de Bovins,2017,2017,Milliers de tonnes,6.00,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
4,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5911,Exportations - Quantit√©,2731,Viande de Bovins,2017,2017,Milliers de tonnes,0.00,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...

In [23]:
alim_anim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21245 entries, 0 to 21244
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            21245 non-null  object
 1   Domaine                 21245 non-null  object
 2   Code zone (FAO)         21245 non-null  int64
 3   Zone                    21245 non-null  object
 4   Code √âl√©ment            21245 non-null  int64
 5   √âl√©ment                 21245 non-null  object
 6   Code Produit            21245 non-null  int64
 7   Produit                 21245 non-null  object
 8   Code ann√©e              21245 non-null  int64
 9   Ann√©e                   21245 non-null  int64
 10  Unit√©                   21245 non-null  object
 11  Valeur                  21245 non-null  float64
 12  Symbole                 21245 non-null  object
 13  Description du Symbole  21245 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 2.3+ MB

In [24]:
alim_anim.duplicated().any()

False

In [25]:
alim_anim.nunique()

Code Domaine                 1
Domaine                      1
Code zone (FAO)            175
Zone                       175
Code √âl√©ment                 6
√âl√©ment                      6
Code Produit                24
Produit                     24
Code ann√©e                   1
Ann√©e                        1
Unit√©                        3
Valeur                    3678
Symbole                      3
Description du Symbole       3
dtype: int64

In [26]:
alim_anim.Symbole.unique()

array(['Fc', 'Im', 'S'], dtype=object)

In [27]:
alim_anim.Unit√©.unique()

array(['Kcal/personne/jour', 'g/personne/jour', 'Milliers de tonnes'],
      dtype=object)

In [28]:
alim_anim.Zone.unique().shape

(175,)

# <font color = 'orange'> 3. Nettoyage </font>

### üìå3.1 Population

In [29]:
#Supprimer Chine
pop_aber = pop[pop['Symbole'] == 'A'].index
pop = pop.drop(pop_aber)
pop.describe(include='object')

,Code Domaine,Domaine,Zone,√âl√©ment,Produit,Unit√©,Symbole,Description du Symbole,Note
count,470,470,470,470,470,470,470,470,4
unique,1,1,235,1,1,1,1,1,1
top,OA,S√©ries temporelles annuelles,Afghanistan,Population totale,Population-Estimations,1000 personnes,X,Sources internationales s√ªres,"UNDESA, Population Division ‚Äì World Population..."
freq,470,470,2,470,470,470,470,470,4

In [30]:
#Changement de Unit√©
pop['Unit√©'] = 'personnes'
pop['Valeur'] = pop['Valeur'] * 1_000
pop.head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole,Note
0,OA,S√©ries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2012,2012,personnes,31161376.0,X,Sources internationales s√ªres,NaN
1,OA,S√©ries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,personnes,36296113.0,X,Sources internationales s√ªres,NaN
2,OA,S√©ries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2012,2012,personnes,52832658.0,X,Sources internationales s√ªres,NaN
3,OA,S√©ries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,personnes,57009756.0,X,Sources internationales s√ªres,NaN
4,OA,S√©ries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2012,2012,personnes,2914096.0,X,Sources internationales s√ªres,NaN

### üìå3.2 Alimentaire

In [31]:
#Supprimer Chine
alim_aber = alim[alim["Symbole"] == 'A'].index
alim = alim.drop(alim_aber)
alim[alim["Symbole"] == 'A']

Empty DataFrame
Columns: [Code Domaine, Domaine, Code zone (FAO), Zone, Code √âl√©ment, √âl√©ment, Code Produit, Produit, Code ann√©e, Ann√©e, Unit√©, Valeur, Symbole, Description du Symbole]
Index: []

In [32]:
alim.Zone.unique().shape

(176,)

In [33]:
alim.loc[alim['Unit√©'] == 'Milliers de tonnes', 'Valeur'] = alim.loc[alim['Unit√©'] == 'Milliers de tonnes', 'Valeur'] * 1_000_000
alim.loc[alim['Unit√©'] == 'Milliers de tonnes', 'Unit√©']  = 'kg'
alim.head(10)

,Code Domaine,Domaine,Code zone (FAO),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5511,Production,2511,Bl√© et produits,2017,2017,kg,4.281000e+09,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
1,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5611,Importations - Quantit√©,2511,Bl√© et produits,2017,2017,kg,3.080000e+09,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
2,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5911,Exportations - Quantit√©,2511,Bl√© et produits,2017,2017,kg,2.000000e+06,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
3,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5301,Disponibilit√© int√©rieure,2511,Bl√© et produits,2017,2017,kg,7.326000e+09,S,Donn√©es standardis√©es
4,FBS,Bilans Alimentaires (2014-),2,Afghanistan,664,Disponibilit√© alimentaire (Kcal/personne/jour),2511,Bl√© et produits,2017,2017,Kcal/personne/jour,1.358000e+03,Fc,Donn√©e calcul√©e
5,FBS,Bilans Alimentaires (2014-),2,Afghanistan,674,Disponibilit√© de prot√©ines en quantit√© (g/pers...,2511,Bl√© et produits,2017,2017,g/personne/jour,3.653000e+01,Fc,Donn√©e calcul√©e
6,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5511,Production,2807,Riz et produits,2017,2017,kg,3.380000e+08,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
7,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5611,Importations - Quantit√©,2807,Riz et produits,2017,2017,kg,4.950000e+08,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
8,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5911,Exportations - Quantit√©,2807,Riz et produits,2017,2017,kg,0.000000e+00,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
9,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5301,Disponibilit√© int√©rieure,2807,Riz et produits,2017,2017,kg,6.810000e+08,S,Donn√©es standardis√©es

In [34]:
alim.Unit√©.unique()

array(['kg', 'Kcal/personne/jour', 'g/personne/jour'], dtype=object)

### üìå3.3 Alimentaire(origine animale)

In [35]:
#Changement Unit√© 
alim_anim.loc[alim_anim['Unit√©'] == 'Milliers de tonnes', 'Valeur'] = alim_anim.loc[alim_anim['Unit√©'] == 'Milliers de tonnes', 'Valeur'] * 1_000_000
alim_anim.loc[alim_anim['Unit√©'] == 'Milliers de tonnes', 'Unit√©']  = 'kg'
alim_anim.head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2014-),2,Afghanistan,664,Disponibilit√© alimentaire (Kcal/personne/jour),2941,Produits Animaux,2017,2017,Kcal/personne/jour,1.950000e+02,Fc,Donn√©e calcul√©e
1,FBS,Bilans Alimentaires (2014-),2,Afghanistan,674,Disponibilit√© de prot√©ines en quantit√© (g/pers...,2941,Produits Animaux,2017,2017,g/personne/jour,1.114000e+01,Fc,Donn√©e calcul√©e
2,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5511,Production,2731,Viande de Bovins,2017,2017,kg,1.280000e+08,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
3,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5611,Importations - Quantit√©,2731,Viande de Bovins,2017,2017,kg,6.000000e+06,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...
4,FBS,Bilans Alimentaires (2014-),2,Afghanistan,5911,Exportations - Quantit√©,2731,Viande de Bovins,2017,2017,kg,0.000000e+00,Im,Donn√©es de la FAO bas√©es sur une m√©thodologie ...

In [36]:
alim_anim.Unit√©.unique()

array(['Kcal/personne/jour', 'g/personne/jour', 'kg'], dtype=object)

In [37]:
alim_anim.Zone.unique().shape

(175,)

# <font color = 'orange'> 4. Transformation </font>

### üìå4.1 Population

In [38]:
#Cree les df separement
pop_2017 = pop[pop['Ann√©e'] == 2017]
pop_2012 = pop[pop['Ann√©e'] == 2012]
pop_2017.Zone.unique().shape

(235,)

In [39]:
#Jointure les 2017 et 2012
pop_var = pd.merge(pop_2017[['Zone','Unit√©', 'Valeur']], pop_2012[['Zone', 'Valeur']], on="Zone",how = 'inner')
#Renomer
pop_var.rename(columns = {'Valeur_x':'pop_2017', 'Valeur_y':'pop_2012','Ann√©e_x':'Ann√©e_2017', 'Ann√©e_y':'Ann√©e_2012'}, inplace= True)
pop_var.head()

             Zone      Unit√©    pop_2017    pop_2012
0     Afghanistan  personnes  36296113.0  31161376.0
1  Afrique du Sud  personnes  57009756.0  52832658.0
2         Albanie  personnes   2884169.0   2914096.0
3         Alg√©rie  personnes  41389189.0  37383895.0
4       Allemagne  personnes  82658409.0  80972628.0

In [40]:
pop_var['var_pop'] = pop_var['pop_2017'] - pop_var['pop_2012']
pop_var['var_pop_%'] = (pop_var['var_pop'] / pop_var['pop_2017'] ) * 100
pop_var

,Zone,Unit√©,pop_2017,pop_2012,var_pop,var_pop_%
0,Afghanistan,personnes,36296113.0,31161376.0,5134737.0,14.146796
1,Afrique du Sud,personnes,57009756.0,52832658.0,4177098.0,7.326988
2,Albanie,personnes,2884169.0,2914096.0,-29927.0,-1.037630
3,Alg√©rie,personnes,41389189.0,37383895.0,4005294.0,9.677150
4,Allemagne,personnes,82658409.0,80972628.0,1685781.0,2.039455
...,...,...,...,...,...,...
230,Venezuela (R√©publique bolivarienne du),personnes,29402484.0,29360837.0,41647.0,0.141644
231,Viet Nam,personnes,94600648.0,89801926.0,4798722.0,5.072610
232,Y√©men,personnes,27834819.0,24473178.0,3361641.0,12.077107
233,Zambie,personnes,16853599.0,14465150.0,2388449.0,14.171745
234,Zimbabwe,personnes,14236595.0,13115150.0,1121445.0,7.877200

### üìå4.2 Alimentaire

In [41]:
#table = pd.pivot_table(df, values='D', index=['A', 'B'],columns=['C'], aggfunc=np.sum)

alim_1 = pd.pivot_table(alim, values='Valeur', columns=['√âl√©ment'], index = ['Zone','Produit'] )
alim_1.reset_index(inplace=True)
alim_1.head()

√âl√©ment,Zone,Produit,Disponibilit√© alimentaire (Kcal/personne/jour),Disponibilit√© de prot√©ines en quantit√© (g/personne/jour),Disponibilit√© int√©rieure,Exportations - Quantit√©,Importations - Quantit√©,Production
0,Afghanistan,Abats Comestible,5.0,0.71,61000000.0,NaN,6000000.0,55000000.0
1,Afghanistan,"Agrumes, Autres",1.0,0.02,51000000.0,0.0,33000000.0,18000000.0
2,Afghanistan,"Alcool, non Comestible",NaN,NaN,0.0,0.0,0.0,0.0
3,Afghanistan,Aliments pour enfants,1.0,0.03,2000000.0,NaN,4000000.0,NaN
4,Afghanistan,Ananas et produits,0.0,0.00,1000000.0,0.0,1000000.0,0.0

In [42]:
alim_group =alim_1.groupby('Zone').sum()
alim_group.reset_index(inplace=True)
alim_group

√âl√©ment,Zone,Disponibilit√© alimentaire (Kcal/personne/jour),Disponibilit√© de prot√©ines en quantit√© (g/personne/jour),Disponibilit√© int√©rieure,Exportations - Quantit√©,Importations - Quantit√©,Production
0,Afghanistan,2048.0,56.18,1.616500e+10,6.280000e+08,6.190000e+09,1.156800e+10
1,Afrique du Sud,2934.0,83.62,6.183900e+10,1.130291e+10,8.612840e+09,6.777905e+10
2,Albanie,3389.0,118.12,4.885070e+09,1.640200e+08,7.764000e+08,4.235700e+09
3,Alg√©rie,3340.0,92.81,4.340471e+10,7.462700e+08,1.802715e+10,2.743383e+10
4,Allemagne,3545.0,103.82,1.752650e+11,5.198962e+10,6.402421e+10,1.669344e+11
...,...,...,...,...,...,...,...
171,√âmirats arabes unis,3341.0,112.79,1.175518e+10,5.395410e+09,1.572574e+10,1.761870e+09
172,√âquateur,2597.0,66.46,2.343100e+10,8.759190e+09,2.110290e+09,2.997590e+10
173,√âtats-Unis d'Am√©rique,3774.0,113.10,8.303776e+11,1.956804e+11,8.299278e+10,9.470103e+11
174,√âthiopie,2332.0,66.23,5.335136e+10,1.287890e+09,2.967120e+09,5.332213e+10
175,√éles Salomon,2404.0,53.42,9.827900e+08,1.732700e+08,1.190100e+08,8.890300e+08

### üìå4.3 Alimentaire(origine animale)

In [43]:
alim_anim_1 = pd.pivot_table(alim_anim, values='Valeur', columns=['√âl√©ment'], index = ['Zone','Produit'] )
alim_anim_1.head()

√âl√©ment                             Disponibilit√© alimentaire (Kcal/personne/jour)  \
Zone        Produit
Afghanistan Abats Comestible                                                   5.0
            Beurre, Ghee                                                      22.0
            Cr√®me                                                              0.0
            Graisses Animales Crue                                             8.0
            Lait - Excl Beurre                                                96.0

√âl√©ment                             Disponibilit√© de prot√©ines en quantit√© (g/personne/jour)  \
Zone        Produit
Afghanistan Abats Comestible                                                     0.71
            Beurre, Ghee                                                         0.03
            Cr√®me                                                                0.00
            Graisses Animales Crue                                               0.01
            Lait - Excl Beurre                                                   5.85

√âl√©ment                             Disponibilit√© int√©rieure  \
Zone        Produit
Afghanistan Abats Comestible                    6.100000e+07
            Beurre, Ghee                        3.700000e+07
            Cr√®me                               0.000000e+00
            Graisses Animales Crue              1.300000e+07
            Lait - Excl Beurre                  2.184000e+09

√âl√©ment                             Exportations - Quantit√©  \
Zone        Produit
Afghanistan Abats Comestible                            NaN
            Beurre, Ghee                                NaN
            Cr√®me                                       0.0
            Graisses Animales Crue                      NaN
            Lait - Excl Beurre                          0.0

√âl√©ment                             Importations - Quantit√©    Production
Zone        Produit
Afghanistan Abats Comestible                      6000000.0  5.500000e+07
            Beurre, Ghee                                0.0  3.600000e+07
            Cr√®me                                       0.0  0.000000e+00
            Graisses Animales Crue                1000000.0  1.100000e+07
            Lait - Excl Beurre                   74000000.0  2.110000e+09

In [44]:
alim_anim_group=alim_anim_1.groupby('Zone').sum()
alim_anim_group.reset_index(inplace=True)
alim_anim_group

√âl√©ment,Zone,Disponibilit√© alimentaire (Kcal/personne/jour),Disponibilit√© de prot√©ines en quantit√© (g/personne/jour),Disponibilit√© int√©rieure,Exportations - Quantit√©,Importations - Quantit√©,Production
0,Afghanistan,389.0,22.28,2.741000e+09,0.000000e+00,1.700000e+08,2.567000e+09
1,Afrique du Sud,930.0,70.59,8.363000e+09,9.089100e+08,1.112840e+09,8.156050e+09
2,Albanie,2086.0,128.15,1.395070e+09,2.402000e+07,8.840000e+07,1.332700e+09
3,Alg√©rie,839.0,53.42,5.351710e+09,4.270000e+06,4.251500e+08,4.992830e+09
4,Allemagne,2141.0,125.54,4.069200e+10,1.751962e+10,1.447921e+10,4.455441e+10
...,...,...,...,...,...,...,...
170,√âmirats arabes unis,1407.0,103.08,1.857180e+09,3.924100e+08,1.847740e+09,4.888700e+08
171,√âquateur,1057.0,61.68,3.042000e+09,1.155190e+09,1.462900e+08,4.012900e+09
172,√âtats-Unis d'Am√©rique,2048.0,146.62,1.562216e+11,1.448441e+10,9.267780e+09,1.618553e+11
173,√âthiopie,206.0,13.24,4.487360e+09,1.989000e+07,6.120000e+06,4.501130e+09
174,√éles Salomon,395.0,31.43,4.379000e+07,3.827000e+07,8.010000e+06,7.403000e+07

### üìå4.4 proportion de prot√©ines d'origine animale par rapport √† la quantit√© totale de prot√©ines dans la disponibilit√© alimentaire du pays

In [45]:
#Jointure prot total et prot anim
prot_total_anim = pd.merge(alim_group[['Zone','Disponibilit√© de prot√©ines en quantit√© (g/personne/jour)']], alim_anim_group[['Zone', 'Disponibilit√© de prot√©ines en quantit√© (g/personne/jour)']], on="Zone",how = 'inner')
#Renemer
prot_total_anim.rename(columns = {'Disponibilit√© de prot√©ines en quantit√© (g/personne/jour)_x':'Dispo_prot_total', 'Disponibilit√© de prot√©ines en quantit√© (g/personne/jour)_y': 'Dispo_prot_Animal'}, inplace = True)
#Colonne %
prot_total_anim['proportion_prot_total_anim'] = (prot_total_anim['Dispo_prot_Animal'] / prot_total_anim['Dispo_prot_total']) * 100
prot_total_anim

√âl√©ment,Zone,Dispo_prot_total,Dispo_prot_Animal,proportion_prot_total_anim
0,Afghanistan,56.18,22.28,39.658241
1,Afrique du Sud,83.62,70.59,84.417603
2,Albanie,118.12,128.15,108.491365
3,Alg√©rie,92.81,53.42,57.558453
4,Allemagne,103.82,125.54,120.920825
...,...,...,...,...
170,√âmirats arabes unis,112.79,103.08,91.391081
171,√âquateur,66.46,61.68,92.807704
172,√âtats-Unis d'Am√©rique,113.10,146.62,129.637489
173,√âthiopie,66.23,13.24,19.990941
174,√éles Salomon,53.42,31.43,58.835642

### üìå4.5 Disponibilit√© alimentaire en prot√©ines et disponibilit√© alimentaire en calories par habitant.

In [46]:
#pop_prot = pd.merge(pop_2017[['Zone', 'Valeur']], )

In [47]:
prot_total_pop = pd.merge(alim_1[['Zone','Produit','Disponibilit√© alimentaire (Kcal/personne/jour)','Disponibilit√© de prot√©ines en quantit√© (g/personne/jour)']], pop_2017[['Zone', 'Valeur']], on="Zone",how = 'inner')
prot_total_pop

,Zone,Produit,Disponibilit√© alimentaire (Kcal/personne/jour),Disponibilit√© de prot√©ines en quantit√© (g/personne/jour),Valeur
0,Afghanistan,Abats Comestible,5.0,0.71,36296113.0
1,Afghanistan,"Agrumes, Autres",1.0,0.02,36296113.0
2,Afghanistan,"Alcool, non Comestible",NaN,NaN,36296113.0
3,Afghanistan,Aliments pour enfants,1.0,0.03,36296113.0
4,Afghanistan,Ananas et produits,0.0,0.00,36296113.0
...,...,...,...,...,...
16233,√éles Salomon,Viande de Volailles,19.0,1.55,636039.0
16234,√éles Salomon,Viande de porcins,43.0,1.34,636039.0
16235,√éles Salomon,"Viande, Autre",0.0,0.00,636039.0
16236,√éles Salomon,Vin,0.0,0.00,636039.0
16237,√éles Salomon,"√âpices, Autres",4.0,0.15,636039.0

In [48]:
prot_total_pop.isnull().sum()

Zone                                                           0
Produit                                                        0
Disponibilit√© alimentaire (Kcal/personne/jour)              1603
Disponibilit√© de prot√©ines en quantit√© (g/personne/jour)    1582
Valeur                                                         0
dtype: int64

In [49]:
#Remplacer NaN par 0.0
prot_total_pop.replace( np.nan , 0.0 , inplace = True)

In [50]:
prot_total_pop.isna().sum()

Zone                                                        0
Produit                                                     0
Disponibilit√© alimentaire (Kcal/personne/jour)              0
Disponibilit√© de prot√©ines en quantit√© (g/personne/jour)    0
Valeur                                                      0
dtype: int64

In [51]:
prot_total_pop.groupby('Zone').sum()

,Disponibilit√© alimentaire (Kcal/personne/jour),Disponibilit√© de prot√©ines en quantit√© (g/personne/jour),Valeur
Zone,,,
Afghanistan,2048.0,56.18,3.157762e+09
Afrique du Sud,2934.0,83.62,5.415927e+09
Albanie,3389.0,118.12,2.653435e+08
Alg√©rie,3340.0,92.81,3.766416e+09
Allemagne,3545.0,103.82,7.852549e+09
...,...,...,...
√âmirats arabes unis,3341.0,112.79,9.012843e+08
√âquateur,2597.0,66.46,1.628180e+09
√âtats-Unis d'Am√©rique,3774.0,113.10,3.088305e+10
√âthiopie,2332.0,66.23,1.032079e+10
√éles Salomon,2404.0,53.42,5.724351e+07

In [52]:
#Ajouter colonnes kprot et kcal par habitats
prot_total_pop['kcal_hab'] = prot_total_pop['Disponibilit√© alimentaire (Kcal/personne/jour)'] * prot_total_pop['Valeur']
prot_total_pop['kprot_hab'] = prot_total_pop['Disponibilit√© de prot√©ines en quantit√© (g/personne/jour)'] * prot_total_pop['Valeur']
prot_total_pop

,Zone,Produit,Disponibilit√© alimentaire (Kcal/personne/jour),Disponibilit√© de prot√©ines en quantit√© (g/personne/jour),Valeur,kcal_hab,kprot_hab
0,Afghanistan,Abats Comestible,5.0,0.71,36296113.0,181480565.0,25770240.23
1,Afghanistan,"Agrumes, Autres",1.0,0.02,36296113.0,36296113.0,725922.26
2,Afghanistan,"Alcool, non Comestible",0.0,0.00,36296113.0,0.0,0.00
3,Afghanistan,Aliments pour enfants,1.0,0.03,36296113.0,36296113.0,1088883.39
4,Afghanistan,Ananas et produits,0.0,0.00,36296113.0,0.0,0.00
...,...,...,...,...,...,...,...
16233,√éles Salomon,Viande de Volailles,19.0,1.55,636039.0,12084741.0,985860.45
16234,√éles Salomon,Viande de porcins,43.0,1.34,636039.0,27349677.0,852292.26
16235,√éles Salomon,"Viande, Autre",0.0,0.00,636039.0,0.0,0.00
16236,√éles Salomon,Vin,0.0,0.00,636039.0,0.0,0.00
16237,√éles Salomon,"√âpices, Autres",4.0,0.15,636039.0,2544156.0,95405.85

In [53]:
prot_total_pop_group = prot_total_pop.groupby('Zone').sum()
prot_total_pop_group.reset_index(inplace=True)
prot_total_pop_group

,Zone,Disponibilit√© alimentaire (Kcal/personne/jour),Disponibilit√© de prot√©ines en quantit√© (g/personne/jour),Valeur,kcal_hab,kprot_hab
0,Afghanistan,2048.0,56.18,3.157762e+09,7.433444e+10,2.039116e+09
1,Afrique du Sud,2934.0,83.62,5.415927e+09,1.672666e+11,4.767156e+09
2,Albanie,3389.0,118.12,2.653435e+08,9.774449e+09,3.406780e+08
3,Alg√©rie,3340.0,92.81,3.766416e+09,1.382399e+11,3.841331e+09
4,Allemagne,3545.0,103.82,7.852549e+09,2.930241e+11,8.581596e+09
...,...,...,...,...,...,...
170,√âmirats arabes unis,3341.0,112.79,9.012843e+08,3.169675e+10,1.070062e+09
171,√âquateur,2597.0,66.46,1.628180e+09,4.359158e+10,1.115555e+09
172,√âtats-Unis d'Am√©rique,3774.0,113.10,3.088305e+10,1.226870e+12,3.676709e+10
173,√âthiopie,2332.0,66.23,1.032079e+10,2.481246e+11,7.046867e+09
174,√éles Salomon,2404.0,53.42,5.724351e+07,1.529038e+09,3.397720e+07

### üìå4.6 Jointure DataFrame final

In [54]:
df_1 = pd.merge(prot_total_pop_group[['Zone','kcal_hab','kprot_hab']],prot_total_anim[['Zone', 'proportion_prot_total_anim']], on='Zone', how='inner')
df_1

,Zone,kcal_hab,kprot_hab,proportion_prot_total_anim
0,Afghanistan,7.433444e+10,2.039116e+09,39.658241
1,Afrique du Sud,1.672666e+11,4.767156e+09,84.417603
2,Albanie,9.774449e+09,3.406780e+08,108.491365
3,Alg√©rie,1.382399e+11,3.841331e+09,57.558453
4,Allemagne,2.930241e+11,8.581596e+09,120.920825
...,...,...,...,...
170,√âmirats arabes unis,3.169675e+10,1.070062e+09,91.391081
171,√âquateur,4.359158e+10,1.115555e+09,92.807704
172,√âtats-Unis d'Am√©rique,1.226870e+12,3.676709e+10,129.637489
173,√âthiopie,2.481246e+11,7.046867e+09,19.990941
174,√éles Salomon,1.529038e+09,3.397720e+07,58.835642

In [55]:
df = pd.merge(df_1, pop_var[['Zone', 'var_pop_%']], on='Zone', how = 'inner')
df

,Zone,kcal_hab,kprot_hab,proportion_prot_total_anim,var_pop_%
0,Afghanistan,7.433444e+10,2.039116e+09,39.658241,14.146796
1,Afrique du Sud,1.672666e+11,4.767156e+09,84.417603,7.326988
2,Albanie,9.774449e+09,3.406780e+08,108.491365,-1.037630
3,Alg√©rie,1.382399e+11,3.841331e+09,57.558453,9.677150
4,Allemagne,2.930241e+11,8.581596e+09,120.920825,2.039455
...,...,...,...,...,...
170,√âmirats arabes unis,3.169675e+10,1.070062e+09,91.391081,3.642876
171,√âquateur,4.359158e+10,1.115555e+09,92.807704,7.811926
172,√âtats-Unis d'Am√©rique,1.226870e+12,3.676709e+10,129.637489,3.396305
173,√âthiopie,2.481246e+11,7.046867e+09,19.990941,12.850516
174,√éles Salomon,1.529038e+09,3.397720e+07,58.835642,12.574072

In [56]:
df.set_index('Zone',inplace = True)
df

,kcal_hab,kprot_hab,proportion_prot_total_anim,var_pop_%
Zone,,,,
Afghanistan,7.433444e+10,2.039116e+09,39.658241,14.146796
Afrique du Sud,1.672666e+11,4.767156e+09,84.417603,7.326988
Albanie,9.774449e+09,3.406780e+08,108.491365,-1.037630
Alg√©rie,1.382399e+11,3.841331e+09,57.558453,9.677150
Allemagne,2.930241e+11,8.581596e+09,120.920825,2.039455
...,...,...,...,...
√âmirats arabes unis,3.169675e+10,1.070062e+09,91.391081,3.642876
√âquateur,4.359158e+10,1.115555e+09,92.807704,7.811926
√âtats-Unis d'Am√©rique,1.226870e+12,3.676709e+10,129.637489,3.396305
√âthiopie,2.481246e+11,7.046867e+09,19.990941,12.850516
√éles Salomon,1.529038e+09,3.397720e+07,58.835642,12.574072